#  Correlations between 40m Channels  over a period
#  of approximately 266 seconds. The IFO sample rate is 
#  9868.4\dots Hz (hence 9868.4 x 266 = 2621440 samples).
#  The sample rate for the `slow' channels is
#  (1/10)th that of the `fast' so (1/10)th the
#  number of samples are requested 
C1
4
IFO_DMRO        S        2621440
IFO_Mike       S        2621440
IFO_Seis_1      S        262144
IFO_SPZT        S        262144
1
